/* .pagesLayout__main {
  position: relative;
  background-image: url('../../public/assets/img/photos/casa-cid-7.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
} */